extends layout

block content
    h1 API Index
    ul
        li
            h2 Concert
            ul
                li /api/concert/ - GET, POST
                li /api/concert/:id/ - GET, PUT, DELETE
            h2 Piece
            ul
                li /api/piece/ - GET, POST
                li /api/piece/:id/ - GET, PUT, DELETE
            h2 Composer
            ul
                li /api/composer/ - GET, POST
                li /api/composer/:id/ - GET, PUT, DELETE