extends layout

block content
    h2 Composers
    a(href="/composers/add/", class='btn btn-default') Add composer
    ul
        each composer in composers
            li
                h3= composer.name
                h4= composer.era


