extends layout

block content
    h2 Concerts
    a(href="/concerts/add/", class='btn btn-default') Add concert
    ul
        each concert in concerts
            li
                h3: a(href='/concerts/' + concert.id + '/') #{concert.title}
                h4= concert.date + ' - ' + concert.venue
                ul
                    each piece in concert.pieces
                        li= piece.title + ' - ' + piece.composer.name
