extends layout

block content
    h1 index
    div(style='col-md-8 col-md-offset-2') Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce faucibus sem eget dui maximus interdum. Phasellus id nunc nisl. Sed suscipit accumsan elit, et interdum erat imperdiet id. Integer luctus lacus vel facilisis pretium. Aenean non luctus nibh. Donec nec purus nisl. Phasellus porttitor sapien a imperdiet hendrerit. Phasellus non mollis dolor, a lobortis diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pellentesque cursus dui, sit amet pulvinar est gravida nec. Sed faucibus id nisl et porttitor. Aliquam venenatis tortor mollis enim vestibulum elementum. Pellentesque tempus mollis pharetra. Donec consectetur accumsan mi, sit amet fermentum mi vestibulum et.

