doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        nav
            ul
                li: a(href='/') Home
                li: a(href='concerts/') Concerts
                li: a(href='pieces/') Pieces
                li: a(href='composers/') Composers
    div
        block content
