extends layout

block content
    h2 Pieces
    a(href="/pieces/add/", class='btn btn-default') Add piece
    ul
        each piece in pieces
            li
                h3= piece.title
                h4= piece.composer.name + ' (' + piece.year + ')'

